.error-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-of-error {
    margin: 25px;
    object-fit: cover;
    height: 650px;
    width: 880px;
}
.button-area {
    display: flex;
    justify-content: center;
}
.back-home-button {
    width: 150px;
    height: 35px;
    color: white;
    font-weight: 100px;
    cursor: pointer;
    border-radius: 11px;
    border-width: 0.3px;
    border-color: rgba(128, 128, 128, 0);
    background-color: #1ed760;
}
