.playlistarea{
    padding-bottom: 79px;
}
.plheader{
    display: flex;
    flex-direction: row;
    width: 103.12%;
}
.plpic {
    box-shadow: 5px 5px 12px 5px black;
    width: 230px;
    height: 230px;
    margin-top: 5.5px;
}
.plinfoarea{
    padding-left: 50px;
    padding-top: 50px;
}
.plcontainer{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-bottom: -20px;
}
.pldeletebutton{
    background-color: #1ed760;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    width: 83px;
    height: 32px;
    border: none;
    cursor: pointer;
}
.pldeletebutton:hover{
    background-color: #1ed75fc9;
    cursor: pointer;
}
.songsheader{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #2c2c2c solid;
    justify-content: space-between;
    padding-right: 50px;
}
.number{
    display: flex;
    flex-direction: row;
}
.plsongholder:hover{
    background-color: gray;
}
.active-playlist-song-dropdown{
    position: absolute;
    z-index: 99999;
    background-color: black;
    margin-left: -30px;
    margin-top: 20px;
}
.yes{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-left: 6px;
}
.yes:hover{
    color: white;
}
.add-to-queue-button{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.add-to-queue-button:hover{
    color: white;
}
.add-song-to-playlist-button{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.add-song-to-playlist-button:hover{
    color: white;
}
.create-playlist-button-dropdown{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.create-playlist-button-dropdown:hover{
    color: white;
}
