.playlistarea{
    padding-bottom: 79px;
}
.plheader{
    display: flex;
    flex-direction: row;
    width: 103.12%;
}
.plpic {
    box-shadow: 5px 5px 12px 5px black;
    width: 230px;
    height: 230px;
    margin-top: 5.5px;
}
.plinfoarea{
    padding-left: 50px;
    padding-top: 50px;
}
.plcontainer{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-bottom: -20px;
}
.pldeletebutton{
    background-color: #1ed760;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    width: 83px;
    height: 32px;
    border: none;
    cursor: pointer;
    /* padding-top: 1px; */
}
.pldeletebutton:hover{
    background-color: #1ed75fc9;
    cursor: pointer;
}
.songsheader{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #2c2c2c solid;
    justify-content: space-between;
    padding-right: 50px;
}
.number{
    display: flex;
    flex-direction: row;
}
.plsongholder:hover{
    background-color: gray;
}
